.head {
  margin-top: 90px;
}

.head h1 {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  gap: 16px;
  margin-left: 10%;
}
.head h1 span {
  font-weight: 400;
  border-bottom: 2px solid black;
}
.head p {
  color: rgb(59, 46, 46);
  margin-top: 1%;
  line-height: 1.4;
}
.head p span {
  margin-left: 37%;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .head h1 {
    font-size: 27px;
  }
  .head p {
    font-size: 15px;
  }
}
